/* Moving on to the styling, we'll start with the main progress bar first and then the value part of it. After that, we'll do some experiments :D */
body {
    background: #322c35;
}

progress {

    font-size: .6em;
    line-height: 1.5em;
    text-indent: .5em;
    width: 200px;
    height: 1.8em;
    background: #fff;
}

textarea {
    border: 1px #ccc solid;
    padding: 1px;
}



.exp {
    /*color: #a6379b;*/
    border: 1px solid #a6379b;
}

.exp::-moz-progress-bar { background: #a6379b; }
.exp::-webkit-progress-value { background: #a6379b; }

.hp {
    /*color: #2ba621;*/
    border: 1px solid #2ba621;
}

.hp::-moz-progress-bar { background: #2ba621; }
.hp::-webkit-progress-value { background: #2ba621; }

.mana {
    /*color: #0063a6;*/
    border: 1px solid #0063a6;
}

.mana::-moz-progress-bar { background: #0063a6; }
.mana::-webkit-progress-value { background: #0063a6; }

#examine {
    position: absolute;
    top: 512px;
    left: 0;
    width: 300px;
    height: 160px;
    padding: 5px;
    color: yellow;
}

#examine_player {
    position: absolute;
    top: 512px;
    left: 300px;
    width: 200px;
    height: 160px;
    padding: 5px;
    color: yellow;
}

#logs {
    position: absolute;
    top: 512px;
    left: 510px;
    height: 160px;
    width: 770px;
}

#stats {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 1024px;
    width: 245px;
    height: 512px;
    color: yellow;
}

.value {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}
