progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 9px;
}

#examine {
    position: absolute;
    top: 512px;
    left: 0;
    width: 1300px;
    height: 200px;
    background-color: #403000;
    padding: 5px;
    color: yellow;
}


#stats {
    padding: 5px;
    position: absolute;
    top: 0;
    left: 1024px;
    width: 376px;
    height: 512px;
    background-color: #403000;
    color: yellow;
}

.value {
    font-weight: bold;
}

.green {
    color: green;
}

.red {
    color: red;
}
