.button {
    color: #56AED4;
    background: #ffffff;
    display: inline-block;
    border: 1px solid #56aed4;
    margin-top: 6px;
    padding: 2px 9px;
    cursor: pointer;
    border-radius: 5px;
}
.button:hover, .button.active {
    color: #fff;
    background-color: #56AED4;
}
.button.red {
    border: 1px solid #ff3a31;
}
.button.red:hover {
    color: #fff;
    background-color: #ff3a31;
}
.button.green {
    border: 1px solid #7ebb00;
}
.button.green:hover {
    color: #fff;
    background-color: #7ebb00;
}
.select {
    border: 1px #a4a4a4 solid;
    padding: 2px;
}
.red {
    color: #ff3a31;
}
.green {
    color: #7eaa00;
}

p {
    padding-top: 5px;
    font-weight: bold;
}

.test_div {
    padding: 5px 5px 5px 5px;
}